body {
	padding: 5px;
	padding-top: 0;
	margin-top: 0;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background: #F2F2F2;
}

a {
	color: #FF3A00;
}

a:focus, a:hover {
	color: #fff;
	text-decoration: none;
	background-color:rgba(255, 255, 255, 0.25);
}

p {
	padding-top: 10px;
}

.col-sm-3:focus, .col-sm-3:hover {
	color: black;
}

img {
	-webkit-box-sizing: initial;	
}

#titulo {
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	color: white;
	padding-top: 10px;
}

#titulo:focus, a:hover {
	background-color:rgba(255, 255, 255, 0);
}

h2 {
	padding-top: 230px;
	font-size: 32px;
	font-weight: 100;
	margin: 0 0 16px 0;
	color: #fff;
	text-align: center;
}

form {
  	text-align: center;
}

.form {
	margin-bottom: 15px;
}

#header {
	padding-top: 25px;
	padding-bottom: 45px;
	position: relative;
	margin-right: 8px;
	margin-left: 8px;
	overflow: hidden;
	border-top: 4px solid #f50;
	background-color: #666;
	background-position: center center;
	background-image: url(https://a-v2.sndcdn.com/assets/images/front/search-hero/zedsdead-fc6718.jpg);
}

#container {
	background: #fff;
  	margin-top: -100px;
	margin-left: 8px;
	margin-right: 8px;
	padding-top: 100px;
	padding-bottom: 600px;
}

#container-body {
	padding-top: 50px;
}

#welcome {
	padding-top: 50px;
	text-align: center;
}

#welcome span {
	margin-top: 20px;
}

.track {
	width: 300px;
	height: 200px;
	padding-top: 50px;
	text-decoration: none;
	color: black;
	text-align: center;
}

.track_playing {
	width: 500px;
	height: 500px;
	padding-left: 370px;
	-webkit-box-sizing: initial;
}

.track_playing button {
	margin-left: 0;
}

.track p {
	text-align: center;
}

.track img {
	width: 60px;
	height: 60px;
	border: 1px groove black;
	padding: 50px;
}

.track_playing img {
	width: 100px;
	height: 100px;
	padding: 100px;
}

.track audio {
	width: 100%;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

#botones {
	text-align: center;
}

.button {
	display: inline-block;
  	position: relative;
  	margin-left: 10px;
	margin-right: 10px;
  	border: 1px solid #e5e5e5;
  	border-radius: 3px;
  	background-color:rgba(255, 255, 255, 0.1);
  	cursor: pointer;
  	color: #fff;
  	text-decoration: none;
	white-space: nowrap;
  	font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  	font-weight: 100;
  	text-align: center;
  	vertical-align: baseline;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	box-sizing: border-box;
	font-size: 16px;
  	line-height: 18px;
 	 padding: 10px 15px;
 	 height: 40px;
}

.btn-primary {
  color: #fff;
  background-color: #FF7028;
  border-color: #F50;
}

.btn-primary:active {
  color: #fff;
  background-color: #f50;
  border-color: #D54700;
}

.btn-primary:focus {
  color: #fff;
  background-color: #f50;
  border-color: #D54700;
}

.btn-primary:hover {
  color: #fff;
  background-color: #f50;
  border-color: #D54700;
}

.col-sm-4 {
  padding-right: 0px;
  padding-left: 0px;
}
