<form class="col-sm-4 col-sm-offset-4" action="/tracks" method="post" enctype="multipart/form-data">  
  <label class="form upload_field">Upload a new track:</label>
  <input class="form upload_field" type="file" name="track"/>
  <input class="form upload_field" type="file" name="cover"/>
  <button class="form hint upload_field" type="submit" style="width: 24%;">Upload</button>
  <span class="hint upload_field">Supported files: MP3, Wav, and Ogg</span>
</form>
