<form class="col-sm-4 col-sm-offset-4" action="/tracks" method="post" enctype="multipart/form-data">  
  <label class="form upload_field">Upload a new track:</label>
  <input class="form upload_field" type="file" name="track"/>
  <input class="form upload_field" type="file" name="cover"/>
  <button class="form hint upload_field" type="submit" style="width: 24%;">Upload</button>
  <span class="hint upload_field">Supported files: MP3, Wav, and Ogg</span>
</form>

<div class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="input-group col-sm-4 col-sm-offset-4">
            <span class="input-group-btn">
                <span class="btn btn-primary btn-file">
                    Browse track&hellip; <input type="file" multiple>
                </span>
            </span>
            <input type="text" class="form-control" readonly>
        </div>
        <div class="input-group col-sm-4 col-sm-offset-4">
            <span class="input-group-btn">
                <span class="btn btn-primary btn-file">
                    Browse cover&hellip; <input type="file" multiple>
                </span>
            </span>
            <input type="text" class="form-control" readonly>
        </div>
        <div class="col-sm-4 col-sm-offset-4">
            <span class="file-input btn btn-primary btn-file">
                Upload&hellip; <input type="file" multiple>
            </span>
            <span class="help-block">
                Supported files: MP3, Wav, and Ogg
            </span>
        </div>
    </div>
</div>
